/*shared*/
.alert {
    margin-bottom: 0 !important;
}

body {
    padding-top: 100px !important;
}

.fa, .fas, .far {
    line-height: inherit !important;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

/*navbar*/
.navbar {
    padding: 0.5em !important;
    /*background-color: #9fcdff !important;*/
    /*line-height: 1em;*/
}

.navbar-brand {
    padding: 0 !important;
}

/*navbar-link*/
.top-nav-link {
    display: flex;
    align-items: baseline;
    line-height: inherit;

}

.top-profile_name {

}

.top-profile_image {
    background: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0 solid transparent;
    outline: none;

    display: inline-block;
}

/*profile*/
.profile_section, .posts_section {
    display: flex;
    padding: 10px;
}


.profile_image img {
    align-content: center;
    border: 4px solid #e4606d;
    border-radius: 50%;
}

.profile_meta_section {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
}

.profile_meta {
    margin-right: 10px;
}

.meta_counter {
    font-weight: bold;
}

.profile_about * {
    font-size: 16px;
    margin: 0;
}

.profile_name {
    font-size: 20px;
}

.profile_controls{
    font-size: 20px;
    margin-left: 5px;
}

/*preferences*/
.preferences_section {
    /*margin-top: 4em !important;*/
    margin-right: 6em !important;
    margin-left: 6em !important;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
}

/*feed*/
.feed{
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed a{
    text-decoration: none;
    color: black;
}

.feed_post{
    width: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.feed_post .post_image img{
    max-width: 90%;
    max-height: 550px;
}

/*post*/
.post_create {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    margin-right: 12em !important;
    margin-left: 12em !important;
}

.post_details{
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    height: 600px;
}

.post_details_post{
    position: relative;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post_details_comments{
    border-left: 1px solid gray;
    flex-grow: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post_controls{
    position: absolute;
    right: 0;
    z-index: 10;
}

.post_return{
    position: absolute;
    left: 20px;
    z-index: 10;
}

.post_image{
    display: flex;
    justify-content: center;
    position: relative;
}

.post_image img{
    max-height: 400px;
    max-width: 600px;
    height: auto;
    border: 1px solid gray;
    border-radius: 4px;
}

.post_details_meta_section{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*background-color: lightgray;*/
}

.post_details_meta_section>span{
    border: 1px solid gray;
    border-radius: 5px;
    /*width: 100% !important;*/
    display: inline-block;
    padding: 10px;
    flex-grow: 1;
}

.post_details_meta_section>p{
    margin-bottom: 1em;
}

.post_meta_section{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.post_meta{
    margin-right: 10px;
    font-family: Consolas, serif;
}

/*comments*/
.post_comments_section{
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.post_comment{
    display: inline-block;
    text-decoration: none;
    color: black;
    flex-basis: 100%;
}

.post_comment:hover{
    text-decoration: none;
}

.post_comment .comment_username{
    font-family: Consolas, serif;
    font-weight: bold;
}

.post_comment .comment_datetime{
    font-family: Consolas, serif;
}

.post_comment .comment_value{
    word-break: break-all;
    word-break: break-word;
    /*overflow-wrap: ;*/
}

/*form*/
form button {
    margin-top: .5em !important;
}

li form button, nav form button {
    margin-top: 0 !important;
}

/*chat*/
.chat_section{
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 12em !important;
    margin-left: 12em !important;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message{
    border: 1px solid gray;
    padding: 10px;
    width: fit-content;
    max-width: 50%;
    margin: 5px;
    word-break: break-all;
    border-radius: 5px;
}

.message.active{
    background: #1b6ec2;
    border: 1px solid #1861ac;
    color: white;
    align-self: flex-end;
}

.chat_create_form{
    background: red;
    display: flex;
    padding: 10px;
    align-items: center;
}

.chat_create_form textarea{
    flex-grow: 80;
    height: 4em;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.chat_create_form button{
    flex-grow: 20;
    height: 3em;
    line-height: 3em;
    margin: 0 10px 0 10px !important;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}


/*.form-inline{
    display: flex;
    !*flex-direction: row;*!
    !*flex-flow: inherit !important;*!
    justify-content: space-between !important;
    flex-wrap: nowrap;
}

.form-inline label{
    margin-right: 1em;
    flex-grow: 1;
    display: inline;
    text-align: right;
}

.form-inline label + *{
    width: 200px !important;
}*/
/*.form-inline *{*/
/*    flex-grow: 1;*/
/*}*/