﻿html{
    user-select: inherit !important;
}

.admin_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel_section{
    margin: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.panel_section *{
    width: 100%;
}

.panel_section h4{
    border-bottom: 1px solid gray;
    padding: 4px;
}

.panel_section a{
    margin-top: 4px;
}

.bg-white{
    background-color: lightgray!important;
    font-family: Consolas, serif;
    font-weight: bold !important;
}

.nav-link{
    /*font-weight: bold !important;*/
    display: block !important;
    border: none;
}

a{
    color: #388dff;
}

.btn-primary{
    background-color: #388dff;
    border-color: #386fde;
}

.btn-primary:hover{
    background-color: #386fde;
    border-color: #386fde;
}

.btn-primary:focus{
    outline-width: 3px !important;
    outline-color: #386fde !important;
}