@model IEnumerable<BLL.App.DTO.Favorite>

@{
    ViewData["Title"] = Resourses.Views.Favorites.Favorites.Header;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr>
<div class="profile_gallery">
    @{
        foreach (var favorite in Model)
        {
            <a class="gallery_item" asp-controller="Profiles" asp-action="Index" asp-route-username="@favorite.Profile.UserName">
                <img src="/images/@favorite.Profile.ProfileAvatarId" alt="gift" height="100px" width="100px"/>
                <span class="item_name">@favorite.Profile.UserName</span>
            </a>
        }
    }
</div>