@model BLL.App.DTO.Post

@{
    ViewData["Title"] = "Create new post";
}

<h4 class="text-center">@ViewData["Title"]</h4>
<br>
<div class="post_create">
    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <partial name="_PostCreateEdit"/>
            </form>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
