<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Some profile name...</title>

    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../wwwroot/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
    <link rel="stylesheet" href="../../wwwroot/css/custom.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="col-7 container">
            <a class="navbar-brand fa fa-palette" href="#">ArtNetwork</a>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <li class="top-nav-link">
                        <a class="nav-link text-dark" title="Manage" href="#">
                            <span class="top-profile_name">Profile</span>
                            <img src="C:\Users\alex1\icd0009-2019s\HomeProject\WebApp\wwwroot\assets\images\DJe2SxlJQXE.jpg"
                                 alt="" class="top-profile_image">
                        </a>
                    </li>
                    <li class="top-nav-link">
                        <a class="nav-link text-dark" title="Manage" href="#">Logout</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Английский
                                (Соединенное Королевство)</a>
                            <a class="dropdown-item" href="#">Эстонский
                                (Эстония)</a>
                            <a class="dropdown-item" href="#">Русский
                                (Россия)</a>
                        </div>
                    </li>
                </ul>

                <form class="navbar-nav form-inline mr-auto">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                </form>

                <ul class="navbar-nav flex-grow-1">
                    <!--<li class="nav-item">
                        <a class="nav-link text-dark fa fa-blog" href="#">Posts</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">

        <div class="text-center">
            <h1>Profile creation</h1>
            <hr/>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="ProfileAvatarUrl" class="control-label">Аватар:</label>
                            <input asp-for="ProfileAvatarUrl" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Имя:</label>
                            <input asp-for="UserName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Имя пользователя:</label>
                            <input asp-for="UserName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Место работы:</label>
                            <input asp-for="UserName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfileAbout" class="control-label">О себе:</label>
                            <textarea asp-for="ProfileAbout" class="form-control form-"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">Номер телефона:</label>
                            <input type="tel" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfileId" class="control-label">Пол</label>
                            <select asp-for="ProfileId" class ="form-control">
                                <option>Мужской</option>
                                <option>Женский</option>
                                <option>Свой вариант</option>
                                <option>Не указывать</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Save" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container d-flex justify-content-center">
        ©2020 - Artnetwork - <a href="#">Privacy</a>
    </div>
</footer>
<script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
<script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../wwwroot/lib/font-awesome/js/fontawesome.min.js"></script>
<script src="../../wwwroot/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


</body>
</html>