@model BLL.App.DTO.Message

<div class="form-group">
    <label asp-for="ProfileId" class="control-label"></label>*
    <input asp-for="ProfileId" class="form-control"/>
    <span asp-validation-for="ProfileId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChatRoomId" class="control-label"></label>*
    <input asp-for="ChatRoomId" class="form-control"/>
    <span asp-validation-for="ChatRoomId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MessageValue" class="control-label"></label>*
    <input asp-for="MessageValue" class="form-control"/>
    <span asp-validation-for="MessageValue" class="text-danger"></span>
</div>
