@model BLL.App.DTO.Message

@{
    ViewData["Title"] = Resourses.Views.Common.CreateHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <partial name="_CreateEdit"/>

            <div class="form-group">
                <label asp-for="MessageDateTime" class="control-label"></label>
                <input asp-for="MessageDateTime" value="@DateTime.Now" class="form-control"/>
                <span asp-validation-for="MessageDateTime" class="text-danger"></span>
            </div>
            
            <partial name="_CreateControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}