@model BLL.App.DTO.Comment

@{
    ViewData["Title"] = Resourses.Views.Common.CreateHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row d-flex align-items-center flex-column">
    <div class="col-md-4 text-center">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <partial name="_CreateEdit" />
            <div class="form-group">
                <label asp-for="CommentDateTime" class="control-label"></label>*
                <input asp-for="CommentDateTime" value="@DateTime.UtcNow" class="form-control"/>
                <span asp-validation-for="CommentDateTime" class="text-danger"></span>
            </div>

            <partial name="_CreateControls"/>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}