@model BLL.App.DTO.Comment

@{
    ViewData["Title"] = Resourses.Views.Common.CreateHeader;
}

<div class="chat_section">
    <div class="row d-flex align-items-center flex-column">
        <div class="col-md-4 text-center">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProfileId" class="control-label"></label>
                    <input asp-for="ProfileId" class="form-control"/>
                    <span asp-validation-for="ProfileId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostId" class="control-label"></label>
                    <input asp-for="PostId" class="form-control"/>
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CommentValue" class="control-label"></label>
                    <textarea asp-for="CommentValue" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="CommentValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CommentDateTime" class="control-label"></label>
                    <input asp-for="CommentDateTime" class="form-control"/>
                    <span asp-validation-for="CommentDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Resourses.Views.Common.CreateButton" class="btn btn-success"/>
                    <a asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary">
                        @Resourses.Views.Common.CancelButton
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}