@model BLL.App.DTO.Comment

@{
    ViewData["Title"] = Resourses.Views.Common.EditHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row d-flex align-items-center flex-column text-center">
    <div class="card" id="image-miniature" style="width: 16rem; user-select: none;">
        @{
            if (Model.Post!.PostImageId != null)
            {
                <img src="/images/@Model.Post!.PostImageId" alt="" class="card-img" id="" draggable="false"/>
            }
        }
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <partial name="_CreateEdit" />
            <div class="form-group">
                <label asp-for="CommentDateTime" class="control-label"></label>*
                <input asp-for="CommentDateTime" class="form-control"/>
                <span asp-validation-for="CommentDateTime" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            
            <partial name="_EditControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}