<template>
    <require from="components/alert"></require>
    <require from="components/loadingOverlay"></require>
    <div if.bind="isLoaded">
        <h4>Change password</h4>

        <div class="row">
            <div class="col-md-6">
                <alert if.bind="alert" alert-data.bind="alert"></alert>
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li repeat.for="error of errors">
                            ${error}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Input_OldPassword">Current password</label>
                    <input class="form-control" type="password" required value.bind="passwordModel.currentPassword" />
                </div>
                <div class="form-group">
                    <label for="Input_NewPassword">New password</label>
                    <input class="form-control" type="password" maxlength="100" required value.bind="passwordModel.newPassword" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_ConfirmPassword">New password confirmation</label>
                    <input class="form-control" type="password" required value.bind="passwordConfirmation" />
                </div>
                <button type="submit" class="btn btn-warning" click.delegate="onSubmit()">Save</button>
            </div>
        </div>
    </div>
    <loading-overlay if.bind="isLocalLoading" fixed="false" style="border-radius: 4px; overflow: hidden; height: 600px"></loading-overlay>
</template>
