@model IEnumerable<BLL.App.DTO.SubjectDTO>

<div class="justify-content-center">
    <div class="card-columns">
        @foreach (var subject in Model)
        {
            <partial name="_Subject" model="@subject"/>
        }
    </div>
</div>