@{
    ViewData["Title"] = "ArtNetwork";
}

<div class="admin_panel">
    <div class="panel_section">
        <h4>Profile:</h4>
        <a class="btn btn-primary">Profiles</a>
        <a class="btn btn-primary">Profile gifts</a>
        <a class="btn btn-primary">Profile ranks</a>
        <a class="btn btn-primary">Favorites</a>
        <a class="btn btn-primary">Followers</a>
        <a class="btn btn-primary">Blocked profiles</a>
    </div>
    <div class="panel_section">
        <h4>Chat:</h4>
        <a class="btn btn-primary">Chat rooms</a>
        <a class="btn btn-primary">Chat members</a>
        <a class="btn btn-primary">Messages</a>
    </div>
    <div class="panel_section">
        <h4>Post:</h4>
        <a class="btn btn-primary">Posts</a>
        <a class="btn btn-primary">Comments</a>
    </div>
    <div class="panel_section">
        <h4>Misc:</h4>
        <a class="btn btn-primary">Chat roles</a>
        <a class="btn btn-primary">Ranks</a>
        <a class="btn btn-primary">Gifts</a>
    </div>
</div>