@model Domain.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightPx" class="control-label"></label>
                <input asp-for="HeightPx" class="form-control" />
                <span asp-validation-for="HeightPx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WidthPx" class="control-label"></label>
                <input asp-for="WidthPx" class="form-control" />
                <span asp-validation-for="WidthPx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaddingTop" class="control-label"></label>
                <input asp-for="PaddingTop" class="form-control" />
                <span asp-validation-for="PaddingTop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaddingRight" class="control-label"></label>
                <input asp-for="PaddingRight" class="form-control" />
                <span asp-validation-for="PaddingRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaddingBottom" class="control-label"></label>
                <input asp-for="PaddingBottom" class="form-control" />
                <span asp-validation-for="PaddingBottom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaddingLeft" class="control-label"></label>
                <input asp-for="PaddingLeft" class="form-control" />
                <span asp-validation-for="PaddingLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedBy" class="control-label"></label>
                <input asp-for="ChangedBy" class="form-control" />
                <span asp-validation-for="ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedAt" class="control-label"></label>
                <input asp-for="ChangedAt" class="form-control" />
                <span asp-validation-for="ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
