@using Extension
@model IEnumerable<BLL.App.DTO.ChatRoom>

@{
    ViewData["Title"] = "Messages";
}

<div class="chat_rooms">
    <div class="row justify-content-center">
        <ul class="nav nav-pills flex-column">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Messages" asp-action="Index"
                           asp-route-chatRoomId="@item.Id">
                            @(item.ChatMembers.FirstOrDefault(member => member.ProfileId == User.UserId())?.ChatRoomTitle ?? item.ChatRoomTitle)
                        </a>
                    </li>
                }
            </ul>
    </div>
</div>