@using Extension
@model IEnumerable<BLL.App.DTO.ChatRoom>

@{
    ViewData["Title"] = "Messages";
}

<div class="chat_rooms">
    <div class="row justify-content-center">
        <ul class="nav nav-pills flex-column">
            @{
                foreach (var item in Model)
                {
                    var member = item.ChatMembers.FirstOrDefault(chatMember => chatMember.ProfileId == User.UserId() && chatMember.DeletedAt == null);

                    if (member != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Details"
                               asp-route-id="@item.Id">
                                @(item.ChatRoomTitle)
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>