@model IEnumerable<BLL.App.DTO.ChatRoom>

@{
    ViewData["Title"] = "Messages";
}

<div class="preferences_section">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills flex-column">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Messages" asp-action="Index" asp-route-chatRoomId="@item.Id">@item.ChatRoomTitle</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            Here will be JS-rendered messages
        </div>
    </div>
</div>