@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5" style="user-select: none">
    <h1 class="fa fa-university" style="font-size: 40px">ÕISMAX</h1>
    <p style="font-size: 20px">Great study system. At least usable :)</p>
</div>
