<div class="custom-file">
    <input type="file" asp-for="ImageFile" accept=".jpeg, .png, .jpg" class="custom-file-input">
    <label class="custom-file-label" style="overflow: hidden"> </label>
</div>

<input type="hidden" asp-for="PaddingTop" value="0"/>
<input type="hidden" asp-for="PaddingRight" value="0"/>
<input type="hidden" asp-for="PaddingBottom" value="0">
<input type="hidden" asp-for="PaddingLeft" value="0"/>
<input type="hidden" asp-for="HeightPx" value="0"/>
<input type="hidden" asp-for="WidthPx" value="0"/>
