@model BLL.App.DTO.Comment

@{
    ViewData["Title"] = "Create";
}

<div class="chat_section">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 text-center">
            <form asp-action="Create">
                <partial name="_CommentCreateEdit"/>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                    <a asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}