@model IEnumerable<Domain.Semester>

@{
    ViewData["Title"] = "Index";
}

@foreach (var semester in Model)
{
    <div class="mb-5">
        <h2>Semester: @semester.Title</h2>
            <hr>
            <partial name="_Subjects" model="@semester.Subjects"/>
    </div>
}
