@using Extensions
@model IEnumerable<Domain.Semester>

@{
    ViewData["Title"] = "Index";
}

@foreach (var semester in Model)
{
    <div class="mb-5">
        <h2>Semester: @semester.Title</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Grade</th>
                <th>Code</th>
                <th>Title</th>
                <th>Teacher</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var subject in semester.Subjects.SelectMany(subject => subject.StudentSubjects).Where(subject => subject.StudentId == User.UserId()).ToList())
            {
                <tr>
                    <td>@subject.Grade</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}