@page
@model AvatarModel

@{
    ViewData["Title"] = Resourses.Views.Identity.Identity.AvatarHeader;
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<h4 class="">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="row d-flex flex-column align-items-center text-center mt-2">
    @{
        if (Model.OriginalImageUrl != null)
        {
            <div class="card" style="width: 20rem; user-select: none;" draggable="false" id="image-miniature">
                <img src="~/localstorage/@Model.OriginalImageUrl" alt="" class="card-img" id="render_image" draggable="false">
            </div>
        }
        else
        {
            <div class="card mb-2" id="image-miniature" style="width: 20rem; user-select: none" draggable="false">
                <img src="#" alt="" class="card-img" id="render_image"/>
            </div>
        }
    }

    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="custom-file">
                <input type="file" asp-for="ImageFile" class="custom-file-input" lang="ru-RU">
                <label class="custom-file-label" style="overflow: hidden"/>
            </div>

            <input type="hidden" asp-for="HeightPx"/>
            <input type="hidden" asp-for="WidthPx"/>
            <input type="hidden" asp-for="PaddingTop"/>
            <input type="hidden" asp-for="PaddingRight"/>
            <input type="hidden" asp-for="PaddingBottom" />
            <input type="hidden" asp-for="PaddingLeft"/>

            <input type="hidden" asp-for="OriginalImageUrl"/>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-success">@Resourses.Views.Common.SaveButton</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/images/image-miniature.js"></script>
    <script>
                if ($('#render_image').attr('src') === "#"){
                    $('#image-miniature').css('visibility', 'hidden');
                }
                
                $('#ImageFile').on('change',function(){
                    //get the file name
                    let fileName = $(this).val().replace('C:\\fakepath\\', "");
                    //replace the "Choose a file" label
                    $(this).next('.custom-file-label').html(fileName);
                })
                
                function readURL(input) {
                  if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    
                    reader.onload = function(e) {
                        let image = new Image();
                        image.src = e.target.result;
                        
                        image.onload = function(){
                            $('#HeightPx').attr('value', image.height);
                            $('#WidthPx').attr('value', image.width);  
                        }

                        $('#render_image').attr('src', e.target.result);
                        $('#image-miniature').css('visibility', 'visible');
                    }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
    }

    $("#ImageFile").change(function() {
    readURL(this);
    });
    </script>
}