@using System.Threading
@model BLL.App.DTO.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr/>
<div class="row text-center justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data" class="custom-file">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="custom-file">
                <input type="file" asp-for="ImageFile" required class="custom-file-input">
                <label class="custom-file-label" style="overflow: hidden"></label>
            </div>
            <div class="form-group mt-2">
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
                $('#ImageFile').on('change',function(){
                    //get the file name
                    var fileName = $(this).val().replace('C:\\fakepath\\', "");
                    //replace the "Choose a file" label
                    $(this).next('.custom-file-label').html(fileName);
                })
    </script>
}