@using Domain.Enums
@model BLL.App.DTO.Image

@{
    ViewData["Title"] = Resourses.Views.Common.EditHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center align-items-center d-flex flex-column">
    <div class="card" style="width: 30rem; user-select: none;" id="image-miniature">
        <img src="~/localstorage/@Model.OriginalImageUrl" alt="" class="card-img" id="render_image" draggable="false">
    </div>
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OriginalImageUrl" class="control-label"></label>
                <input asp-for="OriginalImageUrl" class="form-control"/>
                <span asp-validation-for="OriginalImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="ImageFor" class="control-label"></label>
                <input asp-for="ImageFor" class="form-control"/>
                <span asp-validation-for="ImageFor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageType" class="control-label"></label>
                <select asp-for="ImageType" asp-items="Html.GetEnumSelectList<ImageType>()" class="form-control"></select>
                <span asp-validation-for="ImageType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input type="file" asp-for="ImageFile" class="custom-file-input">
                    <label class="custom-file-label" style="overflow: hidden"></label>
                </div>
            </div>

            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="HeightPx"/>
            <input type="hidden" asp-for="WidthPx"/>
            <input type="hidden" asp-for="PaddingTop"/>
            <input type="hidden" asp-for="PaddingRight"/>
            <input type="hidden" asp-for="PaddingBottom"/>
            <input type="hidden" asp-for="PaddingLeft"/>

            <input type="hidden" asp-for="OriginalImageUrl"/>
            <input type="hidden" asp-for="ImageFor"/>
            <input type="hidden" asp-for="ImageType"/>

            <partial name="_EditControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/images/image-miniature.js"></script>
    <script>
                // $('#image-miniature').css('visibility', 'hidden');
                
                $('#ImageFile').on('change',function(){
                    //get the file name
                    let fileName = $(this).val().replace('C:\\fakepath\\', "");
                    //replace the "Choose a file" label
                    $(this).next('.custom-file-label').html(fileName);
                })
                
                function readURL(input) {
                  if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    
                    reader.onload = function(e) {
                        let image = new Image();
                        image.src = e.target.result;
                        
                        image.onload = function(){
                            $('#HeightPx').attr('value', image.height);
                            $('#WidthPx').attr('value', image.width);  
                        }

                        $('#render_image').attr('src', e.target.result);
                        $('#image-miniature').css('visibility', 'visible');
    }

    reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
    }

    $("#ImageFile").change(function() {
    readURL(this);
    });
    </script>
}