@{
    ViewData["Title"] = Resourses.BLL.App.DTO.Common.ErrorNotFound;
}

<h1 class="text-center" style="font-size: 80px; margin-top: 200px">404</h1>
<h3 class="text-center">@Resourses.Views.Common.PageNotFound</h3>