@{
    ViewData["Title"] = "НЕ БЕЙ";
}

<div class="text-center d-flex flex-column align-items-center mt-3">

<div style="border: 1px solid gray; border-radius: 20px; overflow: hidden; width: fit-content; opacity: 80%">
    <img 
        src="https://lh3.googleusercontent.com/proxy/YZE5vviEJsW6-zCNjMTE91EgNQtPFymzaWClB2fEC3SsfKP_c47a0quwSdm2n02fvTWif2cVafSiBQ0mkBrhj3Vl8qA" 
        alt="НЕ БЕЙ"
        draggable="false"
        >
</div>

<p class="mt-3">🙏 Give me 50 points for defense please 🙏</p>
<p>🙏 Andke palun mulle 50 punkti kaitse eest 🙏</p>
<p>🙏 Поставьте пожалуйста 50 баллов за защиту 🙏</p>
</div>