@{
    ViewData["Title"] = "НЕ БЕЙ";
}

<div class="text-center d-flex flex-column align-items-center mt-3">

<div style="border: 1px solid gray; border-radius: 20px; overflow: hidden; width: fit-content;">
    <img 
        src="https://sun6-13.userapi.com/e51B8hdE7fMYHuR8hMAeGK9AvaNfTcTjFVY5iw/uLYXN9OVEtU.jpg" 
        alt="НЕ БЕЙ"
        draggable="false"
        >
</div>

<p class="mt-3">🙏 Give me max points for defense please 🙏</p>
<p>🙏 Andke palun mulle maksimaalne skoor kaitse eest 🙏</p>
<p>🙏 Поставьте пожалуйста максимум баллов за защиту 🙏</p>
</div>