@model Domain.StudentSubject

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">@Model.Student.FirstLastName</h1>

<div class="row text-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <select asp-for="Grade" class="form-control" asp-items="@Enumerable.Range(-1, 7).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString()})"></select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAccepted" /> is student accepted?
                </label>
            </div>
            
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="StudentSubjects" asp-route-subjectId="@Model.SubjectId" class="btn btn-secondary">Return</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
