@model IEnumerable<BLL.App.DTO.BlockedProfile>

@{
    ViewData["Title"] = Resourses.Views.BlockedProfiles.BlockedProfiles.BlacklistHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr>
<div class="profile_gallery">
    @{
        foreach (var profile in Model)
        {
            <a class="gallery_item" asp-controller="Profiles" asp-action="Index" asp-route-username="@(profile.BProfile!.UserName)">

                <form asp-action="Delete">
                    <button type="submit" class="item_controls btn-link">
                        <i class="fas fa-times-circle"></i>
                    </button>
                    <input type="hidden" asp-for="@profile.Id" name="Id">
                </form>
                
                <img src="images/@(profile.BProfile!.ProfileAvatarId)" alt="gift" height="100px" width="100px"/>

                <span class="item_name">@profile.BProfile.UserName</span>
            </a>
        }
    }
</div>