@model BLL.App.DTO.Post

@{
    ViewData["Title"] = Resourses.Views.Common.CreateHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center align-items-center d-flex flex-column">
    <div class="card mb-2" id="image-miniature" style="width: 20rem; user-select: none">
        <img src="#" alt="" class="card-img" id="render_image" draggable="false"/>
    </div>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="custom-file mb-3">
                <input type="file" asp-for="PostImage!.ImageFile" id="ImageFile" accept=".jpeg, .png, .jpg" class="text-left custom-file-input">
                <label class="custom-file-label" style="overflow: hidden"> </label>
            </div>
            
            <partial name="_CreateEdit"/>
            
            <div class="form-group">
                <label asp-for="PostPublicationDateTime" class="control-label"></label>
                <input asp-for="PostPublicationDateTime" value="@DateTime.Now" class="form-control"/>
                <span asp-validation-for="PostPublicationDateTime" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="PostImage!.PaddingTop" id="PaddingTop" value="0"/>
            <input type="hidden" asp-for="PostImage!.PaddingRight" id="PaddingRight" value="0"/>
            <input type="hidden" asp-for="PostImage!.PaddingBottom" id="PaddingBottom" value="0">
            <input type="hidden" asp-for="PostImage!.PaddingLeft" id="PaddingLeft" value="0"/>
            <input type="hidden" asp-for="PostImage!.HeightPx" id="HeightPx" value="0"/>
            <input type="hidden" asp-for="PostImage!.WidthPx" id="WidthPx" value="0"/>

            <partial name="_CreateControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/images/image-miniature.js"></script>
    <script>
                        
                        if ($('#render_image').attr('src') === "#"){
                            $('#image-miniature').css('visibility', 'hidden');
                        }
                       
                        
                        $('#ImageFile').on('change',function(){
                            //get the file name
                            let fileName = $(this).val().replace('C:\\fakepath\\', "");
                            //replace the "Choose a file" label
                            $(this).next('.custom-file-label').html(fileName);
                        })
                        
                        function readURL(input) {
                          if (input.files && input.files[0]) {
                            let reader = new FileReader();
                            
                            reader.onload = function(e) {
                                let image = new Image();
                                image.src = e.target.result;
                                
                                image.onload = function(){
                                    $('#HeightPx').attr('value', image.height);
                                    $('#WidthPx').attr('value', image.width);  
                                }
        
                                $('#render_image').attr('src', e.target.result);
                                $('#image-miniature').css('visibility', 'visible');
            }
        
            reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
            }
        
            $("#ImageFile").change(function() {
            readURL(this);
            });
            </script>
}