@model BLL.App.DTO.Rank

@{
    ViewData["Title"] = Resourses.Views.Common.CreateHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <partial name="_CreateEdit"/>
            
            <partial name="_CreateControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}