<template>
    <require from="./components/Email"></require>
    <require from="./components/Password"></require>
    <require from="./components/UserData"></require>
    <require from="./components/Security"></require>
    <!--  -->
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills flex-column" if.bind="navLoaded">
                <li class="nav-item">
                    <a class.to-view="getNavStyle(ManageNavs.UserData)" click.delegate="setPage(ManageNavs.UserData)">Edit
                        profile</a>
                </li>
                <li class="nav-item">
                    <a class.to-view="getNavStyle(ManageNavs.Email)" click.delegate="setPage(ManageNavs.Email)">Change email</a>
                </li>
                <li class="nav-item">
                    <a class.to-view="getNavStyle(ManageNavs.Password)" click.delegate="setPage(ManageNavs.Password)">Change
                        password</a>
                </li>
                <li class="nav-item">
                    <a class.to-view="getNavStyle(ManageNavs.Privacy)" click.delegate="setPage(ManageNavs.Privacy)">Privacy and
                        security</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <template if.bind="currentPage !== ManageNavs.UserData">
                <manage-email if.bind="currentPage === ManageNavs.Email"></manage-email>
                <manage-password if.bind="currentPage === ManageNavs.Password"></manage-password>
                <manage-security if.bind="currentPage === ManageNavs.Privacy"></manage-security>
            </template>
            <manage-profile-data else></manage-profile-data>
        </div>
    </div>
</template>
