<template>
    <require from="conventers/DateFormatConventer"></require>
    <h3 class="d-flex" style="justify-content: space-between">
        dsdsdsa
    </h3>
    <hr>
    <h4>sdsdsa</h4>
    <h5 class="text-muted">Due: </h5>
    <hr>
    <h5 class="text-muted">ASP.NET Veebirakendused</h5>
    <h5 class="text-muted">ICD0015</h5>

    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            <div>

                <div class="form-group">
                    <label class="control-label" for="StudentAnswer">Your answer</label>
                    <textarea rows="5" class="form-control" data-val="true"
                        data-val-maxlength="The field StudentAnswer must be a string or array type with a maximum length of '4096'."
                        data-val-maxlength-max="4096" id="StudentAnswer" maxlength="4096" name="StudentAnswer"></textarea>
                    <span class="text-danger field-validation-valid" data-valmsg-for="StudentAnswer"
                        data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary">
                    <a class="btn btn-secondary" href="/subjects/00000000-0000-0000-0000-000000000005">Return</a>
                </div>
            </div>
        </div>
    </div>
</template>
