<template>
    <require from="conventers/DateFormatConventer"></require>
    <h2 class="text-center">
        ${model.title}
    </h2>
    <hr>
    <h4 class="text-center">${model.description}</h4>
    <h5 class="text-muted text-center" if.bind="model.deadline != null">Due: ${model.deadline | dateFormat}</h5>
    <hr>
    <h6 class="text-muted">${model.subjectTitle}</h6>
    <h6 class="text-muted">${model.subjectCode}</h6>

    <div class="row text-center justify-content-center mt-5">
        <div class="col-md-6">
            <h4>Your answer</h4>
            <hr>
            <h5 if.bind="model.studentAnswer">${model.studentAnswer}</h5>
            <h5 else>No answer</h5>
            <h5 class="text-muted mt-3" if.bind="model.answerDateTime != null">Answered: ${model.answerDateTime |
                dateFormat}
            </h5>
            <hr>
            <h5>Checked: ${model.isChecked}</h5>
            <h5>Accepted: ${model.isAccepted}</h5>
        </div>
    </div>

    <div class="justify-content-center d-flex mt-5" if.bind="model.homeWorkId">
        <a class="btn btn-primary mr-1"
            route-href="route: studenthomeworks-edit; params.bind: { homeworkId: model.homeWorkId, id: model.id }">Change
            answer</a>
        <a class="btn btn-secondary" click.delegate="onCancel()">Back to List</a>
    </div>
</template>
