<template>
    <require from="conventers/DateFormatConventer"></require>
    <h3 class="d-flex" style="justify-content: space-between">
        ${model.title}
    </h3>
    <hr>
    <h4>${model.description}</h4>
    <h5 class="text-muted">Due: ${model.deadline | dateFormat}</h5>
    <hr>
    <h5 class="text-muted">${model.subjectTitle}</h5>
    <h5 class="text-muted">${model.subjectCode}</h5>

    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            <h4>Your answer</h4>
            <hr>
            <h5>${model.studentAnswer}</h5>
            <h5 class="text-muted mt-3">Answered: ${model.answerDateTime | dateFormat}</h5>
            <hr>
            <h5>Checked: ${model.isChecked}</h5>
            <h5>Accepted: ${model.isAccepted}</h5>
        </div>
    </div>

    <div class="justify-content-center d-flex mt-5" if.bind="model.homeWorkId">
        <a class="btn btn-primary mr-1"
            route-href="route: studenthomeworks-edit; params.bind: { homeworkId: model.homeWorkId, id: model.id }">Edit</a>
        <a class="btn btn-secondary" click.delegate="onCancel()">Back to List</a>
    </div>
</template>
