@using Domain.Enums
@model BLL.App.DTO.ProfileEdit

@{
    ViewData["Title"] = Resourses.Views.Common.EditHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center align-items-center d-flex flex-column">
    <div class="card mb-2" id="image-miniature" style="width: 20rem; user-select: none;" draggable="false">

        @{
            if (Model.ProfileAvatar?.OriginalImageUrl != null)
            {
                <img src="@Url.Content("~/localstorage" + @Model.ProfileAvatar.OriginalImageUrl)" alt="" class="card-img" id="render_image"/>
            }
            else
            {
                <img src="#" alt="" class="card-img" id="render_image"/>
            }
        }
    </div>

    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="ProfileAvatar!.PaddingTop" id="PaddingTop"/>
            <input type="hidden" asp-for="ProfileAvatar!.PaddingRight" id="PaddingRight"/>
            <input type="hidden" asp-for="ProfileAvatar!.PaddingBottom" id="PaddingBottom">
            <input type="hidden" asp-for="ProfileAvatar!.PaddingLeft" id="PaddingLeft"/>
            <input type="hidden" asp-for="ProfileAvatar!.HeightPx" id="HeightPx"/>
            <input type="hidden" asp-for="ProfileAvatar!.WidthPx" id="WidthPx"/>

            <input type="hidden" asp-for="ProfileAvatar!.OriginalImageUrl"/>
            <input type="hidden" asp-for="ProfileAvatar!.ImageUrl"/>
            <input type="hidden" asp-for="ProfileAvatar!.ImageFor"/>
            <input type="hidden" asp-for="ProfileAvatar!.ImageType"/>

            <input type="hidden" asp-for="ProfileAvatar"/>
            <input type="hidden" asp-for="ProfileAvatarId"/>
            <input type="hidden" asp-for="ProfileAvatar!.Id"/>
            
            <div class="custom-file mb-3">
                <input type="file" asp-for="ProfileAvatar!.ImageFile" id="ImageFile" accept=".jpeg, .png, .jpg" class="text-left custom-file-input">
                <label class="custom-file-label" style="overflow: hidden"> </label>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label text-danger"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfileFullName" class="control-label"></label>
                <input asp-for="ProfileFullName" class="form-control"/>
                <span asp-validation-for="ProfileFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileWorkPlace" class="control-label"></label>
                <input asp-for="ProfileWorkPlace" class="form-control"/>
                <span asp-validation-for="ProfileWorkPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control"/>
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileAbout" class="control-label"></label>
                <input asp-for="ProfileAbout" class="form-control"/>
                <span asp-validation-for="ProfileAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGender" class="control-label">Пол</label>
                <select asp-for="ProfileGender" id="Input_ProfileGender" asp-items="Html.GetEnumSelectList<ProfileGender>()" class="form-control"></select>
                <span asp-validation-for="ProfileGender" class="text-danger"></span>
            </div>
            <div class="form-group d-none" id="profile-gender-own">
                <label asp-for="ProfileGenderOwn"></label>
                <input asp-for="ProfileGenderOwn" class="form-control"/>
                <span asp-validation-for="ProfileGenderOwn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileStatus" class="control-label"></label>
                <input asp-for="ProfileStatus" class="form-control"/>
                <span asp-validation-for="ProfileStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="PhoneNumberConfirmed" class="form-control"/>
                <span asp-validation-for="PhoneNumberConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="LockoutEnabled" class="form-control"/>
                <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="EmailConfirmed" class="form-control"/>
                <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control"/>
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>

            <partial name="_EditControls"/>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Identity/profile-preferences.js"></script>
    <script type="text/javascript" src="~/js/images/image-miniature.js"></script>
        <script>
                        
                        if ($('#render_image').attr('src') === "#"){
                            $('#image-miniature').css('visibility', 'hidden');
                        }
                       
                        
                        $('#ImageFile').on('change',function(){
                            //get the file name
                            let fileName = $(this).val().replace('C:\\fakepath\\', "");
                            //replace the "Choose a file" label
                            $(this).next('.custom-file-label').html(fileName);
                        })
                        
                        function readURL(input) {
                          if (input.files && input.files[0]) {
                            let reader = new FileReader();
                            
                            reader.onload = function(e) {
                                let image = new Image();
                                image.src = e.target.result;
                                
                                image.onload = function(){
                                    $('#HeightPx').attr('value', image.height);
                                    $('#WidthPx').attr('value', image.width);  
                                }
        
                                $('#render_image').attr('src', e.target.result);
                                $('#image-miniature').css('visibility', 'visible');
            }
        
            reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
            }
        
            $("#ImageFile").change(function() {
            readURL(this);
            });
            </script>
}