@model BLL.App.DTO.ProfileRank

<div class="form-group">
    <label asp-for="ProfileId" class="control-label"></label>*
    <input asp-for="ProfileId" class="form-control"/>
    <span asp-validation-for="ProfileId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RankId" class="control-label"></label>*
    <input asp-for="RankId" class="form-control"/>
    <span asp-validation-for="RankId" class="text-danger"></span>
</div>