@model BLL.App.DTO.ProfileRank

@{
    ViewData["Title"] = Resourses.Views.Common.EditHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>
<div class="row text-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <input asp-for="ProfileId" class="form-control"/>
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankId" class="control-label"></label>
                <input asp-for="RankId" class="form-control"/>
                <span asp-validation-for="RankId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <partial name="_EditControls"/>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
