@model BLL.App.DTO.Message

@{
    ViewData["Title"] = "Create";
}

<div class="chat_section">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 text-center">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MessageValue" class="control-label"></label>
                    <input asp-for="MessageValue" class="form-control"/>
                    <span asp-validation-for="MessageValue" class="text-danger"></span>
                </div>
                
                <input type="hidden" asp-for="ChatRoomId">
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}