@using Extension
@model IEnumerable<BLL.App.DTO.Message>

@{
    ViewData["Title"] = "Messages";
}

<div class="chat_section">
    @foreach (var item in Model.OrderBy(message => message.MessageDateTime))
    {
        <div class="message @(User.UserId() == item.ProfileId ? "active": "")">@item.MessageValue</div>
    }

    <div class="row d-flex justify-content-center">
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>

    @*     @Html.Partial("_CreatePartial", new DAL.App.DTO.Message() *@
    @*     { *@
    @*     }) *@

</div>    