<div class="form-group mt-2">
    <input type="submit" class="btn btn-success" value="@Resourses.Views.Common.CreateButton"/>
    <a class="btn btn-secondary" asp-action="Index" asp-area="Admin">@Resourses.Views.Common.BackToListButton</a>
</div>