<div>
    <a class="btn btn-primary" asp-action="Edit" asp-area="Admin" asp-route-id="@Model.Id">@Resourses.Views.Common.EditButton</a>
    <a class="btn btn-primary" asp-action="Index" asp-area="Admin">@Resourses.Views.Common.BackToListButton</a>
</div>