<div class="form-group">
    <input type="submit" class="btn btn-success" value="@Resourses.Views.Common.SaveButton"/>
    <a asp-action="Index" asp-area="Admin" class="btn btn-secondary ">@Resourses.Views.Common.BackToListButton</a>
</div>
