<a class="btn btn-primary fa fa-edit" asp-action="Edit" asp-route-id="@Model.Id"></a>
<a class="btn btn-primary fa fa-eye" asp-action="Details" asp-route-id="@Model.Id"></a>
<a class="btn btn-danger fa fa-times" asp-action="Delete" asp-route-id="@Model.Id"></a>
