<div class="d-flex">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button class="btn btn-primary fa fa-edit index_controls"></button>
    </a>
    <a asp-action="Details" asp-route-id="@Model.Id">
        <button class="btn btn-primary fa fa-eye index_controls"></button>
    </a>
    <form method="post" asp-action="Delete" class="disable_form_style">
        <input type="hidden" name="id" value="@Model.Id">
        <button type="submit" class="btn btn-danger fa fa-times index_controls"/>
    </form>
</div>