<template>
    <div class="text-center">
        <h1>Log in</h1>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post" submit.trigger="onSubmit($event)">
                        <hr>
                        <div class="text-danger mb-3" data-valmsg-summary="true">
                            <ul class="list-group">
                                <li repeat.for="error of errors" class="list-group-item list-group-item-danger">
                                    ${error}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="Input_Email">Email</label>*
                            <input class="form-control" type="email" value.bind="model.email">
                            <span class="text-danger field-validation-valid"></span>
                        </div>

                        <div class="form-group">
                            <label for="Input_Password">Password</label>*
                            <input class="form-control" type="password" value.bind="model.password">
                            <span class="text-danger field-validation-valid"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>

                        <div class="form-group">
                            <p>
                                <a route-href="route: account-register">Do not have an account yet? Register</a>
                            </p>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </div>
</template>
